# Lingkungan Virtual Python
venv/
__pycache__/
.pytest_cache/

# Data Biologis & Dataset (Ukuran Besar)
*.csv
*.fasta
*.txt

# Artefak Model AI (Binary Weights)
*.pth
*.pt
*.onnx

# File Sistem (Mac/Windows)
.DS_Store
Thumbs.db